<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"> </ion-searchbar>
  <ion-list>
    <ion-item-sliding  *ngFor="let item of productos">
      <ion-item>
        <ion-avatar>
          <img src="assets/imgs/icono.png" alt="" />
        </ion-avatar>
        <h4>{{item.titulo}}</h4>
        <p style="word-wrap: break-word; white-space: normal">
        {{item.texto}}
        </p>
      </ion-item>
      <ion-item-options side="end">
        <button (click)="editar(item)" ion-button color="primary">
          <ion-icon name="create"> </ion-icon> Editar
        </button>
        <button (click)="eliminar(item)" ion-button color="danger">
          <ion-icon name="trash"> </ion-icon> Eliminar
        </button>
      </ion-item-options>
    </ion-item-sliding>
   
  </ion-list>

  <ion-fab style="padding-left: 75%;">
    <ion-fab-button (click)="agregarProducto()" color="primary">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
