<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
<ion-item>
  <ion-label color="primary">
    Titulo: 
  </ion-label>
  <ion-input type=text placeholder= "Nombre del producto"></ion-input>
</ion-item>
<iob-item>
  <ion-label color="primary">Texto:  </ion-label>
  <ion-input placeholder="descripcion"> </ion-input>
</iob-item>

  </ion-list>
  <button ion-button block> Agregar Producto</button>

</ion-content>
